<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav id="nav-bar">
    <a href="/flights">ALL FLIGHTS</a>
    <a href="/flights/new">ADD FLIGHT</a>
  </nav>
  <body>
    <h1>Mongoose Flights</h1>
    <p>In association with AllieAir</p>
    <div id="footer"></div>
  </body>
</html>
