body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #cfeffa;
}

a {
  color: #00B7FF;
  font-size: 20px;
}

#add-flight-form {
  display: flex;
  flex-direction: column;
}

#add-flight-form * {
  margin: 5px auto 5px 0px;
}

#nav-bar {
  background: white;
  display: flex;
  justify-content: center;
}

#nav-bar * {
  margin: auto 20px auto 20px;
}

#footer {
  height: 10px;
  background: navy;
  margin-top: 50px;
}